.visualization {
  float: left;
  width: 65vw;
  height: 70vh;
  background-color: #dcdcdc;
}

.visualization-settings {
  background-color: #9c9c9c;
  width: 35vw;
  height: 70vh;
  float: right;
  h2 {
    margin-left: 10px;
  }
  .visualization-setting {
    margin: 20px;
    h3 {
      margin-bottom: 10px;
    }

    .dropdown-basic-single {
    }
  }
}

.summary {
  background-color: #868686;
  float: left;
  width: 100vw;
  //height: 267px;
  height: 30vh;
}

.recharts-layer.recharts-bar-rectangle .recharts-rectangle:hover {
  //fill: red;
}
