.visualization {
  float: left;
  width: 65vw;
  height: 70vh;
  background-color: #dcdcdc;

  .vis-image {
    max-width: 100%;
    max-height: 100%;
  }
}

.visualization-settings {
  background-color: #9c9c9c;
  width: 35vw;
  height: 70vh;
  float: right;
}

.summary {
  background-color: #868686;
  float: left;
  width: 100vw;
  //height: 267px;
  height: 30vh;
}

.recharts-layer.recharts-bar-rectangle .recharts-rectangle:hover {
  fill: red;
}
